/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                &kp ESC   &kp M     &kp I     &kp KP_NUMLOCK   &kp KP_SLASH     &kp KP_MULTIPLY   &kp KP_MINUS
                &kp TAB   &kp Z     &kp R     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9   &kp KP_PLUS
                &kp DEL   &kp U     &kp T     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6   &kp KP_ENTER
                &kp E     &kp P     &kp UP    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3   &kp KP_ENTER
                &mo 1     &kp LEFT  &kp DOWN  &kp RIGHT        &kp KP_NUMBER_0  &kp KP_DOT        &kp KP_ENTER
            >;
        };

        fn_layer {
            label = "FN";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };

    // -----------------------------
    // Behaviors สำหรับ encoder
    // -----------------------------
    behaviors {
        // Encoder 1: Mouse Middle + Move Left/Right
        encoder1_ccw: encoder1_ccw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MS_BTN_MIDDLE &kp MS_LEFT>;
        };
        encoder1_cw: encoder1_cw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MS_BTN_MIDDLE &kp MS_RIGHT>;
        };

        // Encoder 2: Mouse Middle + Move Up/Down
        encoder2_ccw: encoder2_ccw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MS_BTN_MIDDLE &kp MS_UP>;
        };
        encoder2_cw: encoder2_cw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MS_BTN_MIDDLE &kp MS_DOWN>;
        };

        // Encoder 3: Zoom (Ctrl + + / Ctrl + -)
        encoder3_ccw: encoder3_ccw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C_MINUS>;
        };
        encoder3_cw: encoder3_cw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C_EQUAL>;
        };
    };

    // -----------------------------
    // Encoder Mapping
    // -----------------------------
    sensors {
        encoder1: encoder1 {
            compatible = "zmk,encoder";
            a-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            b-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
            encoder-maps = <&encoder1_ccw>, <&encoder1_cw>;
        };

        encoder2: encoder2 {
            compatible = "zmk,encoder";
            a-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            b-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
            encoder-maps = <&encoder2_ccw>, <&encoder2_cw>;
        };

        encoder3: encoder3 {
            compatible = "zmk,encoder";
            a-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            b-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            encoder-maps = <&encoder3_ccw>, <&encoder3_cw>;
        };
    };
};
