/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                &kp ESC    &kp Q    &kp W    &kp E    &kp R
                &kp TAB    &kp A    &kp S    &kp D    &kp F
                &kp LSHFT  &kp Z    &kp X    &kp C    &kp V
                &kp LCTRL  &kp H    &kp J    &kp K    &kp L
                &kp LALT   &kp U    &kp I    &kp O    &kp P
                &kp SPC    &kp N    &kp M    &kp COMMA &kp DOT
                &mo 1      &kp LEFT &kp DOWN &kp UP   &kp RIGHT
            >;
        };

        fn_layer {
            label = "FN";
            bindings = <
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
            >;
        };
    };
};
